
<header>
    
    <h2>Dunder Mifflin Paper Company</h2>
    <nav>
    <ul>
        <li><h3><a href='/index'>Home</a></h3></li>
        <li><h3><a href='/contact'>Contact Us</a></h3></li>
        <li><h3><a href='/staff'>Our Staff</a></h3></li>
        <li><h3><a href='/links'>Links</a></h3></li>
    </ul>
    </nav>
    <img src="https://img.favpng.com/9/14/6/dunder-mifflin-logo-paper-television-image-png-favpng-KWyhwW36hRWjeCYRcdi08HJgz.jpg" id="dundMiff">
</header>