 <nav>
    <ul>
        <li><h3><a href='/index'>Home</a></h3></li>
        <li><h3><a href='/contact'>Contact Us</a></h3></li>
        <li><h3><a href='/staff'>Our Staff</a></h3></li>
        <li><h3><a href='/links'>Links</a></h3></li>
    </ul>
    </nav>