<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/retro.css">
    <title>Document</title>
</head>
   
    <body>
        <div class="container">
            <!-- header -->
            <%- include('./partials/header.ejs') %>

            <main class="history">
                <h1>Dunder Mifflin Paper Company History</h1>
                <h3>Dunder Mifflin Paper Company</h3>
                <h4>Scranton, Pennsylvania</h4>
                <p>Founded by Robert Dunder and Robert Mifflin in 1949. Dunder Mifflin originally sold metal brackets for contruction use. After a while, the company shifted over to selling paper where they were met with immense competition from other bigger office supply companies such as Staples and Office Depot. Dunder Mifflin stayed in the paper game by selling to corporation who were eager to cut costs on paper. Eventually, Dunder Mifflin would find some success even opening up other branches. Currently Dunder Mifflin Paper Company has branches in Scranton, Pennsylvania; Stamford, Conneticut; Akron, Ohio; Camden, New Jersey; and Nashua, New Hamshire.</p>
            </main>
            <div>
                <a href="/home">Back to Home Page</a>
            </div>
            <div class="dunderMifflinImg">
                <p>Photo of Dunder Mifflin Paper Company in Scranton, Pennsylvania</p>
                <img src="https://pcgdigital.com/wp-content/uploads/2019/08/PCG_Blog_Sept19_TheOffice_Blog-Header-1900-x-750.png">
            </div>
        </div>
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    </body>
</html> 